*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#ffffff;
    color:#222;
    line-height:1.8;

}

/* HEADER */

header{

    background:#14532d;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:5px 5px 1px 1px;

    position:sticky;
    top:0;
    z-index:999;

}

.logo img{

    width:120px;
    height:auto;

}

nav ul{

    display:flex;
    gap:35px;
    list-style:none;

}

nav a{

    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;

}

nav a:hover{

    color:#facc15;

}

/* CONTEÚDO */

.container{

    max-width:1200px;
    margin:auto;
    padding:50px;

}

h1{

    text-align:center;
    font-size:42px;
    color:#14532d;
    margin-bottom:15px;

}

h2{

    color:#166534;
    margin-top:60px;
    margin-bottom:20px;

    border-left:6px solid #22c55e;
    padding-left:15px;

}

p{

    text-align:justify;
    font-size:20px;

    margin-bottom:20px;

}

img{

    display:block;
    margin:40px auto;

    max-width:50%;
    border-radius:12px;

    box-shadow:0px 5px 20px rgba(0,0,0,.25);

}

/* RODAPÉ */

footer{

    margin-top:70px;

    background:#14532d;
    color:white;

    text-align:center;

    padding:30px;

}

/* CELULAR */

@media(max-width:768px){

header{

    flex-direction:column;

}

nav ul{

    flex-direction:column;
    text-align:center;
    margin-top:20px;

}

.container{

    padding:20px;

}

h1{

    font-size:30px;

}

p{

    font-size:17px;

}

}
